
<script type="text/javascript">
<!-- Colong aja gpp,, biar gw yang terkenalnya :v -->
<!--
document.write(unescape('<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
  <!-- Header -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Just A Simple API">
    <title>Kuhong - Rest API</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta name="theme-color" content="#ffffff">
    <audio autoplay="autoplay" hidden="hidden" src="https://d.top4top.io/m_1952r5jdo1.mp3"></audio>
    <link rel="stylesheet" href="https://kuhong-api.herokuapp.com/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;" onload="getdata();">
  <!-- Live Chat -->
  <script id="cid0020000281703516035" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 330px;height: 366px;">{"handle":"kuhong-api","arch":"js","styles":{"b":100,"c":"000000","d":"000000","l":"FFFFFF","m":"FFFFFF","p":"10","r":100,"pos":"br","cv":1,"cvbg":"ffffff","cvfg":"000000","cvw":330,"cvh":30,"ticker":1,"fwtickm":1}}</script>
  <!-- NotifBar -->
    <div id="box">
      <div class="box">
          <p style="color:white">Welcome Back! <a class="name" id="name" style="color:red">Guest</a></p>
      </div>
      </div>
  <script type="text/javascript">
  var name = prompt('Silahkan masukan namamu untuk identitas disini :)', '')
  if (name == '') prompt('Namamu harus diisi!', '')
  document.getElementById("name").innerHTML = name
  </script>
  <!-- SideBar -->
  <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
    <div class="side-bar">
      <div class="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <center class="profile">
        <img src="https://i.ibb.co/frhZmyZ/pp.jpg" alt="">
        <p>Kuhong - Rest API</p>
      </center>
      <div class="menu">
	<div class="item"><a><i class="fas fa-code"></i>Documentation</a></div>
        <div class="item">
          <a class="sub-btn"><i class="fas fa-download"></i>Sosmed Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/soundcloud?apikey=APIKEY&url=https://soundcloud.com/aviwkila/aviwkila-doa-untuk-kamu" class="sub-item">SoundCloud Downloader</a>
            <a href="api/ytmp4?url=URL&apikey=https://youtu.be/ScQsoRotYxA" class="sub-item">YouTube Video Downloader</a>
            <a href="api/ytmp3?url=URL&apikey=https://youtu.be/ScQsoRotYxA" class="sub-item">YouTube Audio Downloader</a>
            <a href="api/instagram?apikey=APIKEY&url=https://www.instagram.com/p/CIk47s2FMl4" class="sub-item">Instagram Downloader</a>
	        <a href="api/igstory?apikey=APIKEY&username=indozone.id" class="sub-item">Instagram Story Downloader</a>
	        <a href="api/fb?apikey=APIKEY&url=https://id-id.facebook.com/SamsungGulf/videos/video-bokeh/561108457758458" class="sub-item">Facebook Downloader</a>
            <a href="api/tiktok?url=URL&apikey=APIKEY" class="sub-item">Tiktok Downloader</a>
            <a href="api/tiktokstalk?username=Notnot8.&apikey=APIKEY" class="sub-item">Tiktok Stalk</a>
            <a href="api/igstalk?username=frostdiamondd&apikey=APIKEY" class="sub-item">Instagram Stalk</a>
	        <a href="api/gdrive?apikey=APIKEY&url=https://drive.google.com/file/d/1SugE8vjfOyyW3VTRqsxlW_GJh6EKQ19X/view?usp=drivesdk" class="sub-item">Google Drive Downloader</a>
            <a href="api/mediafire?apikey=APIKEY&url=http://www.mediafire.com/file/js0gr2nozcmk9yg/example.txt/file" class="sub-item">MediaFire Downloader</a>
			<a href="api/linesticker?url=https://store.line.me/stickershop/product/4877/id&apikey=APIKEY" class="sub-item">LineSticker Downloader</a>
	        <a href="api/githubstalk?apikey=APIKEY&username=RC047" class="sub-item">Github Stalk</a>
	        <a href="api/infonpm?query=request&hostname=axios&apikey=APIKEY" class="sub-item">Info NPM</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-star-and-crescent"></i>Islamic Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/random/asmaulhusna?apikey=APIKEY" class="sub-item">Asmaul Husna</a>
            <a href="api/hadits?kitab=bukhari&nomor=52&apikey=APIKEY" class="sub-item">Hadits Shahih</a>
            <a href="api/quran?surah=1&ayat=2&apikey=APIKEY" class="sub-item">Al Qur'an</a>
	        <a href="api/randomquran?apikey=APIKEY" class="sub-item">Al Qur'an Acak</a>
            <a href="api/muslim/tahlil?apikey=APIKEY" class="sub-item">Doa Tahlil</a>
            <a href="api/muslim/wirid?apikey=APIKEY" class="sub-item">Doa Wirid</a>
            <a href="api/muslim/asmaulhusna?apikey=APIKEY" class="sub-item">Asmaul Husna</a>
            <a href="api/muslim/doaharian?apikey=APIKEY" class="sub-item">Doa Harian</a>
            <a href="api/muslim/ayatkursi?apikey=APIKEY" class="sub-item">Ayat Kursi</a>
            <a href="api/kisahnabi?nabi=muhammad&apikey=APIKEY" class="sub-item">Kisah Nabi</a>
            <a href="api/muslim/niatshalat?apikey=APIKEY" class="sub-item">Niat Shalat</a>
            <a href="api/muslim/bacaanshalat?apikey=APIKEY" class="sub-item">Bacaan Shalat</a>
            <a href="api/jadwalshalat?kota=jakarta&apikey=APIKEY" class="sub-item">Jadwal Shalat</a>
	        <a href="api/randomquote/muslim?apikey=APIKEY" class="sub-item">Quotes Islami</a>
	        <a href="api/murothal?apikey=APIKEY" class="sub-item">Murothal</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fa fa-laugh-beam"></i>Fun Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/twister?apikey=APIKEY" class="sub-item">Twister Longue</a>
            <a href="api/simsimi?kata=halo&apikey=APIKEY" class="sub-item">Simsimi</a>
			<a href="api/kerang?pertanyaan=apakah%20rendy%20ganteng?&apikey=APIKEY" class="sub-item">Kerang Ajaib</a>
			<a href="api/how?type=gay&nama=Jihan&apikey=APIKEY" class="sub-item">How</a>
	        <a href="api/alay?text=aku%20belum%20mandi%20seminggu&apikey=APIKEY" class="sub-item">Alay</a>
            <a href="api/halah?apikey=APIKEY&text=aku%20kan%20ganteng%20banget" class="sub-item">Halah</a>
            <a href="api/hilih?apikey=APIKEY&text=aku%20kan%20ganteng%20banget" class="sub-item">Hilih</a>
	        <a href="api/huluh?apikey=APIKEY&text=aku%20kan%20ganteng%20banget" class="sub-item">Huluh</a>
            <a href="api/heleh?apikey=APIKEY&text=aku%20kan%20ganteng%20banget" class="sub-item">Heleh</a>
            <a href="api/holoh?apikey=APIKEY&text=aku%20kan%20ganteng%20banget" class="sub-item">Holoh</a>
			<a href="api/purba?text=kok%20bahasanya&20kayak%20gini%20yaa&apikey=APIKEY" class="sub-item">Purba</a>
	        <a href="api/reverse?text=Kok%20hurufnya%20bisa%20kebalik%20kek%20gini%20yaa&apikey=APIKEY" class="sub-item">Reverse Text</a>
	        <a href="api/say?apikey=APIKEY&text=Rendy%20kok%20Ganteng%20yahh" class="sub-item">Say</a>
			<a href="api/iqtest?apikey=APIKEY" class="sub-item">IQ Tester</a>
	        <a href="api/dadu?apikey=APIKEY" class="sub-item">Dadu</a>
	        <a href="api/math?apikey=APIKEY&mode=hard" class="sub-item">Math</a>
	        <a href="api/math2?apikey=APIKEY" class="sub-item">Math 2</a>
			<a href="api/suit?pilihan=gunting&apikey=APIKEY" class="sub-item">Suit</a>
            <a href="api/kuis/caklontong?apikey=APIKEY" class="sub-item">Cak Lontong</a>
	        <a href="api/kuis/family100?apikey=APIKEY" class="sub-item">Family100</a>
            <a href="api/kuis/tebakgambar?apikey=APIKEY" class="sub-item">Tebak Gambar</a>
	        <a href="api/tebakanime?apikey=APIKEY" class="sub-item">Tebak Anime</a>
            <a href="api/slot?apikey=APIKEY" class="sub-item">Slot Machine</a>
            <a href="api/gabut?apikey=APIKEY" <a href=>Gabut</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fa fa-mail-bulk"></i>Spammer Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/spamcall?nomor=85812345678&apikey=APIKEY" class="sub-item">Spam Call</a>
	        <a href="api/spamsms?nomor=085812345678&jumlah=5&apikey=APIKEY" class="sub-item">Spam Sms</a>
	        <a href="api/spamgmail?email=tukanikan874@gmail.com&subjek=Tagihan%20Listrik&pesan=CEPET%20BAYAR%20LISTRIK%20BEGO&apikey=APIKEY" class="sub-item">Spam Gmail</a>
			<a href="api/spammer/pizzahut?nomor=6285812345678&apikey=APIKEY" class="sub-item">Spam PizzaHut</a>
			<a href="api/spammer/olx?nomor=6285812345678&apikey=APIKEY" class="sub-item">Spam OLX</a>
			<a href="api/spammer/danacinta?nomor=6285812345678&apikey=APIKEY" class="sub-item">Spam DanaCinta</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fa fa-book-open"></i>Education Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/brainly?apikey=APIKEY&soal=pengertian%20bahasa&poin=10" class="sub-item">Brainly</a>
			<a href="api/belajar?apikey=APIKEY&soal=pengertian%20bahasa" class="sub-item">Belajar</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-search"></i>Search Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/jedagjedug?theme=ff&apikey=APIKEY" class="sub-item">Jedag Jedug</a>
		    <a href="api/google?query=bakso&apikey=APIKEY" class="sub-item">Google Search</a>
		    <a href="api/ytsearch?q=rc047&apikey=APIKEY" class="sub-item">YouTube Search</a>
		    <a href="api/googleimage?q=anjing&apikey=APIKEY" class="sub-item">Google Image</a>
            <a href="api/pinterest?q=anjing&apikey=APIKEY" class="sub-item">Pinterest Image</a>
	        <a href="api/resep?apikey=APIKEY&q=nasi%20goreng" class="sub-item">Resep Masakan</a>
	        <a href="api/sticker?apikey=APIKEY&q=patrick" class="sub-item">Sticker WhatsApp</a>
		    <a href="api/search-giphy?query=kucing&apikey=APIKEY" class="sub-item">Giphy</a>
		    <a href="api/maps?query=jakarta&apikey=APIKEY" class="sub-item">Maps</a>
	        <a href="api/wikipedia?search=jembatan&apikey=APIKEY" class="sub-item">Wikipedia</a>
            <a href="api/drakorasia?search=tale&apikey=APIKEY" class="sub-item">Drakor Asia</a>
            <a href="api/fakedata?country=en&apikey=APIKEY" class="sub-item">Fake Data</a>
            <a href="api/kbbi?kata=pohon&apikey=APIKEY" class="sub-item">KBBI</a>
            <a href="api/happymod?apikey=APIKEY&query=pou" class="sub-item">Happy Mod</a>
			<a href="api/ninja?apikey=APIKEY&nama=Rendy" class="sub-item">Nama Ninja</a>
	        <a href="api/anime/kusonime?search=planetarian&apikey=APIKEY" class="sub-item">Kusonime</a>
            <a href="api/manga?search=kimetsu no yaiba&apikey=APIKEY" class="sub-item">Manga</a>
	        <a href="api/jadwal-bioskop?apikey=APIKEY" class="sub-item">Jadwal Bioskop</a>
			<a href="api/jadwal-tv?channel=antv&apikey=APIKEY" class="sub-item">Jadwal TV</a>
			<a href="api/kodepos?kota=jakarta&apikey=APIKEY" class="sub-item">Kode Pos</a>
            <a href="api/filmapik/search?film=avenger&apikey=APIKEY" class="sub-item">FilmApik</a>
            <a href="api/filmapik/kategori?film=action&apikey=APIKEY" class="sub-item">Kategori FilmApik</a>
            <a href="api/filmapik/terbaru?apikey=APIKEY" class="sub-item">FilmApik Terbaru</a>
            <a href="api/filmapik/play?id=142455&apikey=APIKEY" class="sub-item">Play FilmApik</a>
	        <a href="api/lk21/search?film=avenger&apikey=APIKEY" class="sub-item">LK21</a>
            <a href="api/lk21/terbaru?apikey=APIKEY" class="sub-item">LK21 Terbaru</a>
            <a href="api/lk21/comingsoon?apikey=APIKEY" class="sub-item">LK21 News</a>
            <a href="api/lk21/tvseries?apikey=APIKEY" class="sub-item">LK21 Series</a>
            <a href="api/lk21/year?tahun=2021&apikey=APIKEY" class="sub-item">LK21 Tahunan</a>
            <a href="api/lk21/country?negara=indonesia&apikey=APIKEY" class="sub-item">LK21 Negara</a>
            <a href="api/lk21/genr?tipe=action&apikey=APIKEY" class="sub-item">LK21 Genre</a>
			<a href="api/getvn?query=siul&apikey=APIKEY" class="sub-item">Get Voice Notes</a>
			<a href="api/wattpad2?query=horror&apikey=APIKEY" class="sub-item">WattPad Search</a>
			<a href="api/wattpad?id=253841958&apikey=APIKEY" class="sub-item">WattPad ID Search</a>
	        <a href="api/shopee?apikey=APIKEY&query=tas" class="sub-item">Shopee Product</a>
	        <a href="api/wait?apikey=APIKEY&url=https://nawalakarsa.id/wp-content/uploads/2020/10/wondereggpriorityanime.jpg" class="sub-item">What This Anime</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-random"></i>Random Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
	        <a href="api/asupan?apikey=APIKEY" class="sub-item">Asupan</a>
	        <a href="api/cerpen?apikey=APIKEY" class="sub-item">Cerpen</a>
	        <a href="api/faktaunik?apikey=APIKEY" class="sub-item">Fakta Unik</a>
	        <a href="api/anime/random?apikey=APIKEY" class="sub-item">Anime</a>
            <a href="api/random/manga?apikey=APIKEY" class="sub-item">Manga</a>
            <a href="api/kpop/random?apikey=APIKEY" class="sub-item">Kpop</a>
            <a href="api/randomquote?apikey=APIKEY" class="sub-item">Quotes</a>
            <a href="api/fml?apikey=APIKEY" class="sub-item">FML</a>
	        <a href="api/pantun?apikey=APIKEY" class="sub-item">Pantun</a>
            <a href="api/bucin?apikey=APIKEY" class="sub-item">Bucin</a>
			<a href="api/bacot?apikey=APIKEY" class="sub-item">Bacot</a>
			<a href="api/truth?apikey=APIKEY" class="sub-item">Truth</a>
	        <a href="api/dare?apikey=APIKEY" class="sub-item">Dare</a>
	        <a href="api/nickff?apikey=APIKEY" class="sub-item">Nick FF</a>
            <a href="api/quotes/kanye?apikey=APIKEY" class="sub-item">Quotes Kanye</a>
            <a href="api/estetik?apikey=APIKEY" class="sub-item">Aesthetic Pic</a>
            <a href="api/random/meme?apikey=APIKEY" class="sub-item">Meme</a>
	        <a href="api/memeindo?apikey=APIKEY" class="sub-item">Meme Indo</a>
	        <a href="api/darkjokes?apikey=APIKEY" class="sub-item">Dark Jokes</a>
            <a href="api/random/wallpaper?apikey=APIKEY" class="sub-item">Wallpaper</a>
            <a href="api/wallpaper/teknologi?apikey=APIKEY" class="sub-item">Wallpaper Teknologi</a>
            <a href="api/wallpaper/programming?apikey=APIKEY" class="sub-item">Wallpaper Programming</a>
            <a href="api/wallpaper/cyberspace?apikey=APIKEY" class="sub-item">Wallpaper CyberSpace</a>
            <a href="api/wallpaper/muslim?apikey=APIKEY" class="sub-item">Wallpaper Muslim</a>
            <a href="api/wallpaper/pegunungan?apikey=APIKEY" class="sub-item">Wallpaper MountainView</a>
			<a href="api/randomsticker?apikey=APIKEY" class="sub-item">Sticker WhatsApp</a>
			<a href="api/shitpost?apikey=APIKEY" class="sub-item">Shit Post</a>
			<a href="api/hentai?apikey=APIKEY" class="sub-item">Hentai</a>
	        <a href="api/bokep?apikey=APIKEY" class="sub-item">Bokep</a>
          </div>
        </div>
	        <div class="item">
          <a class="sub-btn"><i class="fas fa-pen"></i>Editor Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
	        <a href="api/8bit?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">8 Bit</a>
		    <a href="api/blur?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Blur</a>
            <a href="api/wasted?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Wasted</a>
	        <a href="api/wanted?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Wanted</a>
	        <a href="api/gtaposter?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">GTA V Poster</a>
            <a href="api/deltrash?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Delete Trash</a>
	        <a href="api/rotate?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Rotate Image</a>
	        <a href="api/rainbow?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Rainbow</a>
	        <a href="api/glass?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Glass</a>
            <a href="api/rip?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Rip</a>
	        <a href="api/jail?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Jail</a>
	        <a href="api/continue?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">To Be Continued</a>
		    <a href="api/invert?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Invert</a>
		    <a href="api/sepia?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Sepia</a>
			<a href="api/grey?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Grey Scale</a>
			<a href="api/laptop?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Laptop</a>
	        <a href="api/hd?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Enchance HD</a>
	        <a href="api/memegen?img=https://i.ibb.co/frhZmyZ/pp.jpg&t1=Kuhong%20API&t2=Rest%20Api%20Terbaik&apikey=APIKEY" class="sub-item">Meme Generator</a>
	        <a href="api/triggered?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Triggered</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-text-width"></i>TextPro Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
	        <a href="api/1917?text=Kuhong&apikey=APIKEY" class="sub-item">1917</a>
			<a href="api/arcade?text=Hmmm&apikey=APIKEY" class="sub-item">Arcade</a>
	        <a href="api/futureneon?text=Keren%20Njayy&apikey=APIKEY" class="sub-item">Future Neon</a>
	        <a href="api/phlogo?apikey=APIKEY&t1=Tobat&t2=Hub" class="sub-item">PornHub</a>
	        <a href="api/blackpink?apikey=APIKEY&text=RendyGans" class="sub-item">Black Pink</a>
	        <a href="api/cloud?text=Suramjayy&apikey=APIKEY" class="sub-item">Cloud</a>
	        <a href="api/blood?text=Suramjayy&apikey=APIKEY" class="sub-item">Blood</a>
	        <a href="api/lava?text=Suramjayy&apikey=APIKEY" class="sub-item">Lava</a>
	        <a href="api/skeleton?text=Mantap&apikey=APIKEY" class="sub-item">Skeleton</a>
            <a href="api/text3d?apikey=APIKEY&text=Uwauu" class="sub-item">Text 3D</a>
	        <a href="api/breakwall?text=Amjayy&apikey=APIKEY" class="sub-item">Break Wall</a>
	        <a href="api/wolflogo?text=Sultan%20Mahh&text2=Bebas&apikey=APIKEY" class="sub-item">Wolf Logo</a>
	        <a href="api/jokerlogo?text=Suramjayy&apikey=APIKEY" class="sub-item">Joker Logo</a>
	        <a href="api/lionlogo?text=Anjay&text2=Suranjayy&apikey=APIKEY" class="sub-item">Lion Logo</a>
	        <a href="api/ninjalogo?text=Anjay&text2=Suranjayy&apikey=APIKEY" class="sub-item">Ninja Logo</a>
            <a href="api/marvel?apikey=APIKEY&t1=RC&t2=Studio" class="sub-item">Marvel Logo</a>
	        <a href="api/avengers?apikey=APIKEY&t1=Mantap&t2=Bang" class="sub-item">Avengers Logo</a>
            <a href="api/thunder?apikey=APIKEY&text=Anjerr" class="sub-item">Thunder</a>
	        <a href="api/glowtext?text=Amjayy&apikey=APIKEY" class="sub-item">Glowing Neon</a>
	        <a href="api/glowtext2?text=Amjayy&apikey=APIKEY" class="sub-item">Glowing Neon 2</a>
            <a href="api/dropwater?apikey=APIKEY&text=Sad%20Boy" class="sub-item">Drop Water</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-i-cursor"></i>Ephoto360 Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/gaminglogo?text=Udin%20Gaming&apikey=APIKEY" class="sub-item">Gaming Logo</a>
			<a href="api/catlogo?text=Si%20Udin&apikey=APIKEY" class="sub-item">Cat Logo</a>
			<a href="api/freefire?text=AyoMabarCokk&apikey=APIKEY" class="sub-item">Free Fire</a>
			<a href="api/foxlogo?text=Rendy%20Gans&apikey=APIKEY" class="sub-item">Fox Logo</a>
			<a href="api/glitchlogo?text=Rendy%20Gans&apikey=APIKEY" class="sub-item">Glitch Logo</a>
			<a href="api/flamelogo?text=Rendy%20Gans&apikey=APIKEY" class="sub-item">Flame Logo</a>
			<a href="api/bearlogo?text=Rendy%20Gans&apikey=APIKEY" class="sub-item">Bear Logo</a>
            <a href="api/maker/special/transformer?text=Odadingg&apikey=APIKEY" class="sub-item">Transformer</a>
	        <a href="api/retro?apikey=APIKEY&t1=The&t2=Kuhong&t3=Rest%20Api" class="sub-item">Retro</a>
	        <a href="api/firework?apikey=APIKEY&text=Happy%20New%20Year" class="sub-item">FireWork</a>
	        <a href="api/textpantai?apikey=APIKEY&text=Uwau" class="sub-item">Nulis Pantai</a>
            <a href="api/textsalju?apikey=APIKEY&t1=Sahabat&t2=Selamanya" class="sub-item">Nulis Salju</a>
            <a href="api/splaybutton?apikey=APIKEY&text=RC047" class="sub-item">Silver PlayButton</a>
            <a href="api/gplaybutton?apikey=APIKEY&text=RC047" class="sub-item">Gold PlayButton</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-camera-retro"></i>Photooxy Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/poly?apikey=APIKEY&text=Keren%20anjay" class="sub-item">Poly Animate</a>
	        <a href="api/flaming?apikey=APIKEY&text=Keren%20anjay" class="sub-item">Flaming</a>
            <a href="api/matrix?apikey=APIKEY&text=Heker%20Nihh" class="sub-item">Matrix</a>
            <a href="api/textmaker?text=halo&text2=hai&theme=glitch&apikey=APIKEY" class="sub-item">Glitch</a>
            <a href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=APIKEY" class="sub-item">Google Suggestion</a>
            <a href="api/smoke?apikey=APIKEY&text=Keren%20anjay" class="sub-item">Smoke</a>
	        <a href="api/neon?apikey=APIKEY&text=Anjayy" class="sub-item">Dark Neon</a>
	        <a href="api/naruto?text=Amjayy&apikey=APIKEY" class="sub-item">Naruto</a>
            <a href="api/crossfire?text=Keren%20anjay&apikey=APIKEY" class="sub-item">Cross Fire</a>
            <a href="api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=APIKEY" class="sub-item">Pubg</a>
            <a href="api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=APIKEY" class="sub-item">BattleField 4</a>
            <a href="api/textmaker/senja?text=RendyGans&theme=coffee-cup&apikey=APIKEY" class="sub-item">Coffee Cup</a>
            <a href="api/textmaker/senja?text=RendyGans&theme=coffee-cup2&apikey=APIKEY" class="sub-item">Coffee Cup 2</a>
            <a href="api/textmaker/metallic?text=RendyGans&theme=neon&apikey=APIKEY" class="sub-item">Neon</a>
            <a href="api/textmaker/metallic?text=RendyGans&theme=glow&apikey=APIKEY" class="sub-item">Glow</a>
            <a href="api/textmaker/alam?text=RendyGans&theme=summer&apikey=APIKEY" class="sub-item">Summer</a>
            <a href="api/textmaker/alam?text=RendyGans&theme=flower&apikey=APIKEY" class="sub-item">Flower</a>
            <a href="api/textmaker/random?text=RendyGans&theme=text-burn&apikey=APIKEY" class="sub-item">Text Burn</a>
            <a href="api/textmaker/random?text=RendyGans&theme=art-quote&apikey=APIKEY" class="sub-item">Art Quote</a>
            <a href="api/textmaker/roses?text=RendyGans&theme=wooden-boarch&apikey=APIKEY" class="sub-item">Wooden Boarch</a>
            <a href="api/textmaker/roses?text=RendyGans&theme=golden&apikey=APIKEY" class="sub-item">Golden Roses</a>
			<a href="api/underwater?apikey=APIKEY&text=Keren%20anjay" class="sub-item">Underwater Ocean</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fa fa-fw fa-images"></i>Maker Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/intromaker?text=rendy&apikey=APIKEY" class="sub-item">Intro Maker (Beta)</a>
		    <a href="api/welcome?nama_mem=Kuhong&avatar=https://i.ibb.co/frhZmyZ/pp.jpg&bg=https://c4.wallpaperflare.com/wallpaper/760/955/638/artwork-landscape-sky-mountains-wallpaper-preview.jpg&&nama_gc=KuhongTeams&jumlah_mem=4&apikey=APIKEY" class="sub-item">Welcome Member</a>
			<a href="api/bye?nama_mem=Kuhong&avatar=https://i.ibb.co/frhZmyZ/pp.jpg&bg=https://c4.wallpaperflare.com/wallpaper/760/955/638/artwork-landscape-sky-mountains-wallpaper-preview.jpg&&nama_gc=KuhongTeams&jumlah_mem=4&apikey=APIKEY" class="sub-item">Bye Member</a>
	        <a href="api/attp?text=Keren%20Anjay&apikey=APIKEY" class="sub-item">ATTP</a>
			<a href="api/attp2?text=Keren%20Anjay&apikey=APIKEY" class="sub-item">ATTP 2</a>
            <a href="api/ttp?text=Keren%20Anjay&apikey=APIKEY" class="sub-item">TTP</a>
	        <a href="api/ttp2?text=Keren%20Anjay&apikey=APIKEY" class="sub-item">TTP 2</a>
            <a href="api/ttp3?text=Keren%20Anjay&apikey=APIKEY" class="sub-item">TTP 3</a>
			<a href="api/ttp4?text=Keren%20Anjay&color=green&apikey=APIKEY" class="sub-item">TTP 4</a>
	        <a href="api/quotemaker?quote=Ikan hiu makan tomat&author=Mang Oleh&theme=random&apikey=APIKEY" class="sub-item">Quote Maker</a>
	        <a href="api/nulis?text=RendyGanteng&apikey=APIKEY" class="sub-item">Nulis Buku</a>
            <a href="api/nulis2?text=RendyGanteng&apikey=APIKEY" class="sub-item">Nulis Buku 2</a>
			<a href="api/nulis3?text=RendyGanteng&arah=kanan&apikey=APIKEY" class="sub-item">Nulis Buku 3</a>
			<a href="api/nulis4?text=RendyGanteng&apikey=APIKEY" class="sub-item">Nulis Buku 4</a>
	        <a href="api/tahta?text=MANTAN&apikey=APIKEY" class="sub-item">Harta Tahta</a>
            <a href="api/customtahta?text=Rendy&apikey=APIKEY" class="sub-item">Custom Tahta</a>
	        <a href="api/barcode?text=Keren%20Njerr&apikey=APIKEY" class="sub-item">BarCode Maker</a>
	        <a href="api/qrcode?text=Keren%20Njerr&apikey=APIKEY" class="sub-item">QR Code Maker</a>
		    <a href="api/carbon?code=if%20(orang%20==%20'keren')%20return%20console.log('Suramnjayy')&apikey=APIKEY" class="sub-item">Carbon Code</a>
            <a href="api/maker?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan</a>
            <a href="api/maker2?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 2</a>
            <a href="api/maker3?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3</a>
            <a href="api/maker4?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 4</a>
            <a href="api/maker3d?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3D</a>
            <a href="api/maker3d/no2?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3D 2</a>
            <a href="api/maker3d/no3?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3D 3</a>
            <a href="api/maker3d/no4?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3D 4</a>
            <a href="api/maker3d/no5?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY" class="sub-item">Pemandangan 3D 5</a>
	        <a href="api/maker/special/epep?text=RendyGans&apikey=APIKEY" class="sub-item">FreeFire Sertifikat</a>
	        <a href="api/phcomment?img=https://i.ibb.co/frhZmyZ/pp.jpg&username=RC047&comment=Kuhong%20Rest%20Api%20Nihh%20Boss!&apikey=APIKEY" class="sub-item">PornHub Comment</a>
	        <a href="api/ytcomment?img=https://i.ibb.co/frhZmyZ/pp.jpg&username=RC047&comment=Kuhong%20Rest%20Api%20Nihh%20Boss!&apikey=APIKEY" class="sub-item">Youtube Comment</a>
	        <a href="api/spongebob?text=Mantann&apikey=APIKEY" class="sub-item">SpongeBob Burn</a>
			<a href="api/shauntheship?img=https://i.ibb.co/frhZmyZ/pp.jpg&apikey=APIKEY" class="sub-item">Shaun The Ship</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-newspaper"></i>News Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/news?apikey=APIKEY" class="sub-item">Jenis Berita</a>
            <a href="api/news/cnn?type=Berita&apikey=APIKEY" class="sub-item">Cnn News</a>
            <a href="api/news/cnbc?type=Berita&apikey=APIKEY" class="sub-item">CnBc News</a>
            <a href="api/news/republika?type=Berita&apikey=APIKEY" class="sub-item">Republika News</a>
            <a href="api/news/tempo?type=Berita&apikey=APIKEY" class="sub-item">Tempo News</a>
            <a href="api/news/antara?type=Berita&apikey=APIKEY" class="sub-item">Antara News</a>
            <a href="api/news/kumparan?type=Berita&apikey=APIKEY" class="sub-item">Kumparan News</a>
			<a href="api/infogempa?apikey=APIKEY" class="sub-item" class="sub-item">Info Gempa Terkini</a>
            <a href="api/infocuaca?provinsi=jakarta&apikey=APIKEY" class="sub-item">Info Cuaca Indonesia</a>
            <a href="api/infocuaca/dunia?apikey=APIKEY" class="sub-item">Info Cuaca Dunia</a>
            <a href="api/infocuaca/bandara?apikey=APIKEY" class="sub-item">Info Cuaca Bandara</a>
            <a href="api/infotsunami?apikey=APIKEY" class="sub-item">Info Tsunami</a>
            <a href="api/covidindo?apikey=APIKEY" class="sub-item">Covid Indo</a>
            <a href="api/covidworld?apikey=APIKEY" class="sub-item">Covid World</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fab fa-product-hunt"></i>Primbon Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/artinama?apikey=APIKEY&nama=Rendy" class="sub-item">Arti Nama</a>
	        <a href="api/artimimpi?apikey=APIKEY&mimpi=Rendy" class="sub-item">Arti Mimpi</a>
            <a href="api/cekjodoh?apikey=APIKEY&nama=Rendy&pasangan=Indah" class="sub-item">Ramalan Jodoh</a>
	        <a href="api/tggljadian?apikey=APIKEY&tggl=30&bln=06&thn=2019" class="sub-item">Tanggal Jadian</a>
			<a href="api/masadepan?nama=Rendy&apikey=APIKEY" class="sub-item">Ramalan Masa Depan</a>
			<a href="api/tebakumur?nama=Rendy&apikey=APIKEY" class="sub-item">Tebak Umur</a>
	        <a href="api/zodiak?apikey=APIKEY&nama=Rendy&tggl=04&bln=10&thn=2005" class="sub-item">Zodiak</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-music"></i>Music Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
		    <a href="api/ytplay?apikey=APIKEY&q=faded" class="sub-item">Youtube Play</a>
	        <a href="api/spotify?apikey=APIKEY&q=faded" class="sub-item">Spotify</a>
	        <a href="api/joox?apikey=APIKEY&q=faded" class="sub-item">Joox</a>
	        <a href="api/lirik?lagu=sayang&apikey=APIKEY" class="sub-item">Lirik Lagu</a>
            <a href="api/chord?lagu=sayang&apikey=APIKEY" class="sub-item">Chord Lagu</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fa fa-lock"></i>Encrypt Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/tobase64?apikey=APIKEY&img=https://i.ibb.co/frhZmyZ/pp.jpg" class="sub-item">Media To Base64</a>
            <a href="api/tomedia?apikey=APIKEY&img=Masukan_Teks_Base64" class="sub-item">Base64 To Media</a>
	        <a href="api/binary?apikey=APIKEY&encode=RendyGans" class="sub-item">Binary Encode</a>
            <a href="api/binary?apikey=APIKEY&decode=011100100110010101101110011001000111100101100111011000010110111001110011" class="sub-item">Binary Decode</a>
            <a href="api/base?apikey=APIKEY&type=base64&encode=RendyKece" class="sub-item">Base64 Encode</a>
            <a href="api/base?apikey=APIKEY&type=base64&decode=SW5pQWRhbGFoQXBpa2V5UkMwNDc=" class="sub-item">Base64 Decode</a>
	        <a href="api/base?apikey=APIKEY&type=base32&encode=RendyKece" class="sub-item">Base32 Encode</a>
	        <a href="api/base?apikey=APIKEY&type=base32&decode=SW5pQWRhbGFoQXBpa2V5UkMwNDc" class="sub-item">Base32 Decode</a>
		    <a href="api/sha1?text=RendyKece&apikey=APIKEY" class="sub-item">SHA1</a>
		    <a href="api/sha256?text=RendyKece&apikey=APIKEY" class="sub-item">SHA256</a>
		    <a href="api/sha512?text=RendyKece&apikey=APIKEY" class="sub-item">SHA512</a>
	        <a href="api/md5?apikey=APIKEY&text=RendyKece" class="sub-item">MD5</a>
			<a href="api/randombyte?jumlah=50&apikey=APIKEY" class="sub-item">Random Bytes</a>
	        <a href="api/createcode?text=KodePolisi09&apikey=APIKEY" class="sub-item">Code Generator</a>
          </div>
        </div>
		<div class="item">
          <a class="sub-btn"><i class="fas fa-wrench"></i>Tools Menu<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="api/ssweb?apikey=APIKEY&url=https://www.youtube.com/c/RC047" class="sub-item">Screenshot Web</a>
	        <a href="api/upload?apikey=APIKEY&file_url=https://1.bp.blogspot.com/-TNGZGhSt_zI/X93Q4iKhQxI/AAAAAAAAVF4/L4rB8enc1HoFy5aXkvomfmxcR30kygKrACNcBGAsYHQ/s578/91913235_2830089170435663_4447843912417017856_n.jpg" class="sub-item">Upload Files</a>
		    <a href="api/styletext?text=K&apikey=APIKEY" class="sub-item">Style Text</a>
            <a href="api/repeat?text=halo%20&jumlah=1000&apikey=APIKEY" class="sub-item">Text Repeater</a>
	        <a href="api/readmore?text=Anjasss&apikey=APIKEY" class="sub-item">Text Readmore</a>
	        <a href="api/tinyurl?url=https://kuhong-api.herokuapp.com&apikey=APIKEY" class="sub-item">Tiny Url</a>
		    <a href="api/sid?url=https://kuhong-api.herokuapp.com&apikey=APIKEY" class="sub-item">S.ID Shortener</a>
            <a href="api/translate?lang=id&text=dick&apikey=APIKEY" class="sub-item">Translate</a>
            <a href="api/calculator?angka=11%20*%2045&apikey=APIKEY" class="sub-item">Calculator</a>
			<a href="api/ipcheck?ip=125.161.59.184&apikey=APIKEY" class="sub-item">IP Checker</a>
			<a href="api/html-viewer?url=https://www.google.com&apikey=APIKEY" class="sub-item">HTML Viewer</a>
			<a href="api/stickerwm?url=https://i.ibb.co/frhZmyZ/pp.jpg&packname=Sticker%20WM&author=RC047&apikey=APIKEY" class="sub-item">Sticker Watermark</a>
	        <a href="api/towebp?apikey=APIKEY&url=https://sdl-stickershop.line.naver.jp/products/0/0/1/3234393/android/animation/35532558.png" class="sub-item">PNG To Webp</a>
	        <a href="api/towebp?apikey=APIKEY&url=https://sdl-stickershop.line.naver.jp/products/0/0/1/3234393/android/animation/35532558.png" class="sub-item">GIF To Webp</a>
	        <a href="api/toimg?webp=https://s3.getstickerpack.com/storage/uploads/sticker-pack/patrick-star-2/sticker_18.png?6a6b46b00c73fdd9a005030f315f2bdf&apikey=APIKEY" class="sub-item">Webp To PNG/JPG</a>
	        <a href="api/tomp4?url=https://mathiasbynens.be/demo/animated-webp-supported.webp&apikey=APIKEY" class="sub-item">Webp To MP4</a>
			<a href="api/toimage?img=https://1.bp.blogspot.com/-TNGZGhSt_zI/X93Q4iKhQxI/AAAAAAAAVF4/L4rB8enc1HoFy5aXkvomfmxcR30kygKrACNcBGAsYHQ/s578/91913235_2830089170435663_4447843912417017856_n.jpg&apikey=APIKEY" class="sub-item">Url To Image</a>
			<a href="api/tomp3?url=http://sansekai.my.id/ptl_repost/120533450_988960268238482_4908300175960396265_n.mp4&apikey=APIKEY" class="sub-item">MP4 To MP3</a>
	        <a href="api/tts?text=Rest%20Api%20Keren&lang=id&apikey=APIKEY" class="sub-item">Text To Speech</a>
	        <a href="api/emojitopng?apikey=APIKEY&emoji=Ø3dÞ03" class="sub-item">Emoji To Png</a>
	        <a href="api/imgbb?url=https://1.bp.blogspot.com/-TNGZGhSt_zI/X93Q4iKhQxI/AAAAAAAAVF4/L4rB8enc1HoFy5aXkvomfmxcR30kygKrACNcBGAsYHQ/s578/91913235_2830089170435663_4447843912417017856_n.jpg&apikey=APIKEY" class="sub-item">Imgbb Uploader</a>
	        <a href="api/readqr?apikey=APIKEY&url=https://api.qrserver.com/v1/create-qr-code/?data=Rest%20Api%20yang%20kerenn!&size=512x512&margin=0" class="sub-item">QR Reader</a>
	        <a href="api/ocr?apikey=APIKEY&img=https://i.ibb.co/rZHMCTS/testing.jpg" class="sub-item">OCR (MTC)</a>
	        <a href="api/removebg?apikey=APIKEY&img=https://i.ibb.co/frhZmyZ/pp.jpg" class="sub-item">Remove BG</a>
          </div>
        </div>
	    <br>
	    <br>
        <br>
        <br>
	    <br>
        <br>
        <br>
	    <br>
        <br>
        <br>
	    <br>
        <br>
		<br>
		<br>
		<br>
	    <div class="item"><a href="api/cekapikey?apikey=APIKEY"><i class="fas fa-key"></i>Cek Apikey</a></div>
	    <div class="item"><a href="api/tutorial"><i class="fas fa-book"></i>Tutorial</a></div>
	    <div class="item"><a href="api/status"><i class="fas fa-battery-half"></i>API Status</a></div>
	    <div class="item"><a href="https://saweria.co/RC047"><i class="fas fa-donate"></i>Donate</a></div>
            <div class="item">
        <a class="sub-btn"><i class="fa fa-gamepad"></i>MiniGames<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
            <a href="api/game/dino" class="sub-item">Dino Run (Android Only)</a>
	        <a href="api/game/pingpong" class="sub-item">Ping Pong (Android Only)</a>
            <a href="api/game/tebakangka" class="sub-item">Tebak Angka</a>
            <a href="api/game/suitjawa" class="sub-item">Suit Jawa</a>
	        <a href="api/game/tetris" class="sub-item">Tetris (PC Only)</a>
          </div>
        </div>
	    <div class="item">
          <a class="sub-btn"><i class="fas fa-signal"></i>Social Media<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
            <a href="https://wa.me/62895337278647" class="sub-item">WhatsApp</a>
	        <a href="https://www.youtube.com/c/RC047" class="sub-item">YouTube</a>
            <a href="https://instagram.com/rendycraft047" class="sub-item">Instagram</a>
            <a href="https://www.facebook.com/rendycraft.rendycraft" class="sub-item">FaceBook</a>
	        <a href="https://github.com/RC047" class="sub-item">Github</a>
          </div>
        </div>
	<div class="item">
        <a class="sub-btn"><i class="fas fa-shopping-cart"></i></i>Order Apikey<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
		    <a href="https://kuhong-api.herokuapp.com/api/getapikey" class="sub-item">Get Free</a>
            <a href="https://wa.me/62895337278647?text=Bang,,%20saya%20minat%20beli%20Apikey&20yang%20sebulan" class="sub-item">10K / Month</a>
			<a href="https://wa.me/62895337278647?text=Bang,,%20saya%20minat%20beli%20Apikey&20yang%20setahun" class="sub-item">25K / Year</a>
			<a href="https://wa.me/62895337278647?text=Bang,,%20saya%20minat%20beli%20Apikey&20yang%20custom" class="sub-item">Custom Apikey + 5K</a>
			<a href="https://kuhong-api.herokuapp.com/api/redeem?code=REDEEM_CODE" class="sub-item">Redeem Code</a>
          </div>
        </div>
		<div class="item">
        <a class="sub-btn"><i class="fas fa-heart"></i></i>Thanks To<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
		<a class="sub-item">Zahir</a>
		<a class="sub-item">Nurutomo</a>
		<a class="sub-item">MFarelS</a>
		<a class="sub-item">ArugaZ</a>
	    <a class="sub-item">Zekais</a>
		<a class="sub-item">Bang Hasan</a>
		<a class="sub-item">MhankBarBar</a>
		  </div>
        </div>
		<br>
	    <br>
        <br>
		<center class="profile">
        <p>Made With <i class="fas fa-heart" style="color:red"></i> By RC047</a></p>
      </center>
      </div>
    </div>
    <!-- Server Time -->
    <section class="main">
      <h1 id="jam">0</h1><h1>:</h1><h1 id="menit">0</h1><h1>:</h1><h1 id="detik">0</h1>
    </section>
    <script type="text/javascript">
    $(document).ready(function(){
      //jquery for toggle sub menus
        $('.sub-btn').click(function(){
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
        $('.menu-btn').click(function(){
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

        $('.close-btn').click(function(){
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
    </script>
    <script type="text/javascript">
    window.setTimeout("waktu()", 1000);
    function waktu() {
        if (document.getElementById("jam")){
        var waktu = new Date();
        setTimeout("waktu()", 1000);
        document.getElementById("jam").innerHTML = waktu.getHours();
        document.getElementById("menit").innerHTML = waktu.getMinutes();
        document.getElementById("detik").innerHTML = waktu.getSeconds();
          }
    }
    </script>
    <script type="text/javascript">
  function getdata(){
              var xhr = new XMLHttpRequest();
              var url = 'https://kuhong-api.herokuapp.com/api/getapikey';
              xhr.onloadend = function(){
              data = JSON.parse(this.responseText);
alert(`
Update :
Added ShitPost & ShaunTheShip Maker!

Free Apikey :
${data.free_apikey}

Note : ${data.info}
`)
              };
              xhr.open("GET", url, true);
              xhr.send();
  }
</script>
  </body>
</html>'));
//-->
</script>
